* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background: #fff;
}

button {
    padding: 2px;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #0067c5;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 2px solid rgba(0,0,0,0.10);
    border-top: 2px solid rgba(225,225,225,0.10);
}

.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
    text-align: left;
}

.wrapper .sidebar .icon{
    margin-right: 10px;
}

.wrapper .sidebar ul li:hover{
    background: #007f3e
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    text-align: center;
    font-size: 260%;
    background: #007f3e;
    color: #fff;
    border-bottom: 2px solid #e0e4e8;
}

.wrapper .main_content .info{
    margin: 20px;
    line-height: 25px;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
    text-align: center;
}

.wrapper .main_content .info .decks{
    display: block;
}

.wrapper .main_content .info .flashcard{
    margin: auto;
    border: 2px solid #e0e4e8;
}

.padding{
    padding: 10px;
}

#deckTitle{
    margin: 15px 0;
}

#card{
    padding: 10px;
}

.wrapper .main_content .info .table {
    width: auto;
    border: 2px solid #e0e4e8;
    margin: auto;
}

.wrapper .main_content .info .table h2 {
    text-align: center;
}

.wrapper .main_content .info .table .button{
    text-align: center;
}

.ValidSummary {
    text-align: center;
}

#btnAdd{
    padding: 2px 20px;
}

.form_popup{
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
}

.form_container{
    max-width: 300px;
    padding: 10px;
}

.form_container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    background: #f1f1f1;
}